@media screen and (max-width:770px) {
    .header-logo {
        width:80px;
        height:80px;
        margin-top:10px;
    }

    .header-menu {
        display:none;
    }

    .sp-header-menu {
        display:block;
    }

    .top-item {
        display:none;
    }

    .sec_inner_1 {
        display:block;
    }

    .sp-top-item {
        display:block;
    }

    .c-point table {
        display: none;
    }

    .sp-c-point table {
        display:block;
    }

    .recommend {
        display:none;
    }

    .footer-menu img {
        display:none;
    }

    .footer-menu-2 {
        display:none;
    }
    
    

}