header {
    height:70px;
}

.header-logo {
    width:70px;
    height:70px;
}

.header-menu li{
    line-height:70px;
    padding-left:px;
    padding-right:20px;
}

.header-menu li:hover {
    cursor: pointer;
    opacity:0.7;
}

.menu-btn {
    display:block;
    float:right;
    line-height:70px;
}

.menu-btn > i {
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
}
.menu-btn > i:hover {
    background-color: #f3f4f6;
}

/* チェックボックスを非表示 */
#menu-checkbox {
        display: none;
}

.nav-content {
        background-color: white;
        width: 100%;
        max-width: 50%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 50;
        padding: 8px;
        overflow: auto;
        transform: translateX(100%); /* 画面外に配置 */
        transition-duration: 300ms;
        float:right;
}

.nav-menu ul {
        list-style: none;
        text-align: left;
}

.nav-menu li > a {
        text-decoration: none;
        color: #707070;
        padding: 12px;
        display: block;
}

.nav-menu li > a:hover {
    background-color: #f3f4f6;
}

/* チェックボックスがアクティブ状態の時、画面内に表示 */
#menu-checkbox:checked ~ .nav-content {
        transform: translateX(0%);
}

#menu-checkbox:checked ~ .nav-close {
        display: block;
        opacity: 0.5;
}

.hamburger-li {
    margin-bottom:10px;
}