* {
box-sizing:border-box;
}

body {
    font-family: "Hiragino Sans",sans-serif;
    margin:0;
}

header {
    height:100px;
}

.c-header {
    max-width:1300px;
    width:90%;
    margin:0 auto;
}

.header-logo {
    line-height:100px;
    height:80px;
    width:80px;
    float:left;
}

.header-menu {
    float:right;
}

.header-menu a {
    line-height: 100px;
    margin-left:40px;
}